extends layout 

block content 
  h3.my-3 予定の編集
  form(method="post", action=`/blogs/${blog.blogId}/update`) 
    div.mb-3
      label.form-label(for="blogTitle") タイトル
      input#blogTitle.form-control(type="text" name="blogTitle" value=blog.blogTitle)
    div.mb-3
      label.form-label(for="blogText") ブログの本文
      textarea#blogText.form-control(name="blogText" rows="20") #{blog.blogText}
    div.mb-3
      button.btn.btn-primary(type="submit") 以上の内容でブログを編集する
  h3.my-3 危険な変更
  form(method="post", action=`/blogs/${blog.blogId}/delete`)
    button.btn.btn-danger.mb-3(type="submit") この予定を削除する 