extends layout 

block content 
  form.my-3(method="post", action="/blogs")
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.mb-3
      label.form-label(for="blogTitle")  タイトル
      input#blogTitle.form-control(type="text" name="blogTitle")
    div.mb-3
      label.form-label(for="blogText")  ブログの本文
      textarea#blogText.form-control(name="blogText" rows="20")
    div.mb-3
      label.form-label(for="comment")  コメント
      textarea#comment.form-control(name="comment" rows="5") 
    button.btn.btn-primary(type="submit") ブログをつくる